<form class="form-inline" [formGroup]="registerForm">
    <table class="table table-condensed table-striped table-hover">
        <tr>
            <th>名前</th>
            <td>
                <input type="text" class="form-control" formControlName="lastName" [(ngModel)]="model.lastName">
                <input type="text" class="form-control" formControlName="firstName" [(ngModel)]="model.firstName">
            </td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>
                <input type="email" class="form-control" formControlName="email" [(ngModel)]="model.email">
            </td>
        </tr>
        <tr>
            <th>パスワード</th>
            <td>
                <input type="password" class="form-control" formControlName="password" [(ngModel)]="model.password">
            </td>
        </tr>
        <tr>
            <th>確認パスワード</th>
            <td>
                <input type="password" class="form-control" formControlName="passwordConfirm">
            </td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td>
                <input type="text" class="form-control" formControlName="phoneNumber" [(ngModel)]="model.phoneNumber">
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid" (click)="register()">ユーザー登録</button>
                </div>
            </td>
        </tr>
    </table>
</form>