<form class="form-inline" [formGroup]="addressForm">
    <div class="row">
        <div class="col-md-12">
            <input type="text" class="form-control" formControlName="zipCode" [(ngModel)]="address.zipCode">
            <button type="button" class="btn btn-info" (click)="search()">
                <span class="glyphicon glyphicon-search"></span>
                検索
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <select class="form-control" formControlName="prefecture" [(ngModel)]="address.prefecture">
                <option *ngFor="let prefecture of prefectureList" [ngValue]="prefecture.value">{{ prefecture.value }}</option>
            </select>
            <input type="text" class="form-control" formControlName="city" [(ngModel)]="address.city">
            <input type="text" class="form-control" formControlName="town" [(ngModel)]="address.town">
        </div>
    </div>
</form>
