<form class="form-inline" [formGroup]="dateForm">
    <div class="input-group date">
        <input type="text" [(ngModel)]="value" class="form-control" [ngStyle]="!isEditMode ? styleShow : ''" formControlName="date" (focus)="open()">
        <span *ngIf="isEditMode" class="input-group-addon" (click)="open()">
            <span class="glyphicon-calendar glyphicon"></span>
        </span>
    </div>
</form>

<div class="dp-popup" *ngIf="showDatepicker">
    <datepicker [(ngModel)]="date" [minDate]="minDate" [showWeeks]="false" (selectionDone)="onSelectionDone($event)"></datepicker>
    <div class="clearfix">
        <button class="btn btn-sm btn-default" (click)="close()">Close</button>
        <button class="btn btn-sm btn-primary" (click)="today()">Today</button>
        <button class="btn btn-sm btn-danger" (click)="clear()">Clear</button>
    </div>
</div>

