<form class="form-inline" [formGroup]="editForm">
    <table class="table table-striped table-hover">
        <tr>
            <td colspan="2">
                <div *ngIf="!isEditMode">
                    <button type="button" class="btn btn-primary" (click)="onEditMode()">編集モード</button>
                </div>
                <div *ngIf="isEditMode">
                    <button type="button" class="btn btn-default" (click)="onShowMode()">キャンセル</button>
                    <button type="button" class="btn btn-warning" (click)="editRole()">ロール編集</button>
                    <button type="button" class="btn btn-danger" (click)="deleteModal.show()">ロール削除</button>
                </div>
            </td>
        </tr>
        <tr>
            <th>ロール名</th>
            <td>
                <input type="text" class="form-control" formControlName="roleName" [(ngModel)]="model.roleName">
            </td>
        </tr>
        <tr>
            <th>管理系機能</th>
            <td>
                <label class="checkbox-inline" *ngFor="let manageRole of manageRoleList">
                    <input type="checkbox" value="{{manageRole.id}}" [ngStyle]="!isEditMode ? styleShow : ''" [(ngModel)]="manageRole.checked" [ngModelOptions]="{standalone: true}"> {{ manageRole.value }}
                </label>
            </td>
        </tr>
        <tr>
            <th>コンテンツ系機能</th>
            <td>
                <label class="checkbox-inline" *ngFor="let contentRole of contentRoleList">
                    <input type="checkbox" value="{{contentRole.id}}" [ngStyle]="!isEditMode ? styleShow : ''" [(ngModel)]="contentRole.checked" [ngModelOptions]="{standalone: true}"> {{ contentRole.value }}
                </label>
            </td>
        </tr>
        <tr>
            <th>物件別</th>
            <td>
                <label class="checkbox-inline" *ngFor="let residenceRole of residenceRoleList">
                    <input type="checkbox" value="{{residenceRole.id}}" [ngStyle]="!isEditMode ? styleShow : ''" [(ngModel)]="residenceRole.checked" [ngModelOptions]="{standalone: true}"> {{ residenceRole.value }}
                </label>
            </td>
        </tr>
        <tr>
            <th>メモ</th>
            <td>
                <textarea class="form-control" cols="50" rows="4" [ngStyle]="!isEditMode ? styleShow : ''" formControlName="memo" [(ngModel)]="model.memo"></textarea>
            </td>
        </tr>
    </table>
</form>

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">ロール削除</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-default" (click)="deleteModal.hide()">キャンセル</button>
                <button class="btn btn-danger" (click)="deleteRole();deleteModal.hide()">ロール削除</button>
            </div>
        </div>
    </div>
</div>
