<form class="form-inline" [formGroup]="createForm">
    <table class="table table-striped table-hover">
        <tr>
            <th>法人名</th>
            <td>
                <input type="text" class="form-control" formControlName="companyName">
            </td>
        </tr>
        <tr>
            <th>住所</th>
            <td>
                <address-form [isEditMode]="isEditMode"></address-form>
            </td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td>
                <input type="text" class="form-control" formControlName="phoneNumber">
            </td>
        </tr>
        <tr>
            <th>メモ</th>
            <td>
                <textarea class="form-control" cols="50" rows="4" formControlName="memo"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="btn btn-default" [routerLink]="['/company']">キャンセル</button>
                <button type="button" class="btn btn-success" (click)="createCompany()">追加</button>
            </td>
        </tr>
    </table>
</form>
